/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2019-01-06 21:22:32 */
body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
}

 /* Product Image Size */
.product-item-photo { min-height:350px ;} /* Menu Modification to White */
.page-header.type3{background-color:#ffffff ;}

.sw-megamenu.navigation li a span{
color:#000000;}

.navigation .level0 .submenu{
border-color:#fff;}

.page-header.type3 .navigation .level0:hover>.level-top{background-color:#ffffff;}

 /* Sticky Menu Modification to White */
header.page-header.sticky-header.type3 .nav-sections{background-color:#ffffff ;}

 /* Logo Top Margin Mod */
.page-header.type3 .logo{margin:37px 25px 25px;}


 /* Footer Background color to black */
.footer-top {background-color:#000000;}
.footer-middle {background-color:#000000;}
.footer-bottom {background-color:#000000;}



 /* Temp */
.page-header.type3 .header.panel .top-panel>.links>li>a, .page-header.type3 .header.panel .top-panel>.links>li>span{color:#000000;}

 /* Footer Newsletter Fix */
.block.newsletter input{
background-color: #000000;
width:300px;
}

.action.primary{
background-color: #e1e1e1;
color: #000000;
border: 1px solid #ffffff;
}

 /* Homepage buy now button */
#banner-slider-demo-4  .btn-default {
border: 1px solid #fff;
background:transparent;}